services:
  - type: web
    name: latelia-api
    env: node
    plan: free
    region: singapore
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: ALLOWED_ORIGINS
        value: https://latelia.store,https://admin.latelia.store,http://localhost:5173